* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: grey;
  box-sizing: border-box;
}
.container {
  width: fit-content;
  background: black;
  color: white;
  padding: 70px;
  border: 10px blue double;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container * {
  margin: 5px 0px;
}
.container input,
.container button {
  width: 200px;
}
body .container h2 {
  align-self: center;
}
#result {
  width: 200px;
  height: 20px;
  background: white;
  color: black;
  text-align: center;
}
